<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225969486095-fp528j09ckjeoptfta0bj8qm7d0hsr4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225969486095-fp528j09ckjeoptfta0bj8qm7d0hsr4b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>225969486095-n6rumckpbhroo2dvcgifboj50rh184d1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGbI6bmYi__q6bHId1MkvjLecu1e0jwvM</string>
	<key>GCM_SENDER_ID</key>
	<string>225969486095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vayuFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>vayu-c00f8</string>
	<key>STORAGE_BUCKET</key>
	<string>vayu-c00f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225969486095:ios:6099a03245fdac1aafa67a</string>
	<key>DATABASE_URL</key>
	<string>https://vayu-c00f8-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>